body {
  background: url(../img/YjWerc25joPR6exTxV7qWb1Z.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.logo-corporelle {
  width: 50px;
  height: 50px;
  margin-left: 40px;
  display: inline-block;
  vertical-align: none;
  margin-right: 60px;
}

.container {
  width: 100%;
}

/*Links Russia, Women, Men top navbar */

.navbar-left-links a {
  color: hsla(208, 6%, 32%, 0.97);
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
}

.navbar-left-links a:hover {
  background-color: transparent !important;
  color: black;
  font-size: 16px;
}

.navbar-left-links a:focus {
  background-color: transparent !important;
}

/*Links Sing in, icon Search and Shop top navbar*/

.navbar-right-links a {
  color: hsla(208, 6%, 32%, 0.97);
}

.russia-link {
  margin-right: 150px;
}

.navbar-left-links {
  padding-right: 450px;
}

.navbar-right-links a:hover {
  background-color: transparent !important;
  color: black;
  font-size: 16px;
}

.navbar-right-links a:focus {
  background-color: transparent !important;
}

/*Vertical links MAGAZINE, MARKETPLACE ONLINE STORE*/

.navbar-left-vertical a {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90eg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: 'Hind', sans-serif;
  color: hsl(358, 16%, 53%);
}

.navbar-left-vertical a:hover {
  font-size: 16px;
}

.navbar-left-vertical li {
  margin-bottom: 40px;
  float: none;
}

.navbar-left-vertical {
  margin-top: 50px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-left-section {
  width: 100px;
  background-color: none;
  border-color: none;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar-toggle {
  background-color: white;
  border-color: none;
}




